/* Pantry Pal Web App Styles */

body {
  background-color: #36b55c;
  color: white;
  font-family: 'Playfair Display', serif;
}

ul {
  /* text-align: center; */
  list-style-position: inside;
}

/* #item-box {
  /* text-align: center; */
} */

li.item {
  font-size: 2em;
  /* text-align: center; */
}

.source {
  font-size: 1.25rem;;
  letter-spacing: 0.05em;
  line-height: 1.1;
  text-align: right;
  margin-right: 4em;
}

.source:before {
  content: "—";
}

.citation {
  font-style: italic;
}

.citation:before {
  content: ", ";
  font-style: normal;
}

.year:before {
  content: ", ";
  font-style: normal;
}

.main-title {
  font-size: 6rem;
  text-align: center;
}

.inventory-title {
  font-size: 3em;
  text-align: left;
  position: relative;
  margin-left: .5em;

}

.meal-title {
  font-size: 3em;
  text-align: center;
  margin-left: 5em;  /* Tester */
}

.title {
  font-size: 3em;
  font-weight: bold, underline;
  text-align: left;
  margin-left: 6.5em;
}

#add-item-button {
  position: fixed;
  width: 6em;
  display: inline-block;
  margin-top: -9em;
  margin-left: .5em;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #36b55c;
  padding: 15px 0;
  transition: .5s ;
}

#addItemButton:hover {
  background-color: rgba(255,255,255,.25);
}

#addItemButton:focus {
  outline: none;
}

.add-item-input {
  position: fixed;
  width: 8em;
  display: inline-block;
  margin-left: 6.5em; 
  margin-top: -9em;
  border-radius: 4px;
  border: 2px solid #fff;
  color: #fff;
  background-color: #36b55c;
  padding: 15px 0;
  transition: .5s ;
  text-align: center;
}

.addItemInput:hover {
  background-color: rgba(255,255,255,.25);
}

.addItemInput:focus {
  outline: none;
}

::placeholder {
    -webkit-text-security: none;
    color: lightGray;
    pointer-events: none;
    text-align: center;
}

@media (max-width: 420px) {
  .item {
    font-size: 2.5rem;
  }
  .item:before, .item:after {
    font-size: 3rem;
  }
  .source {
    font-size: 1rem;
  }
}
